{% extends 'base1.html' %}

{% block title %}
Page about us
{% endblock %}

{% block body %}
    <br><br><br>
    <div class="container">
        <p style="font-size: 24px;">The simple blog for everybody, who want to write your thoughts and other...</p>
        <br>
        <p style="color: red; font-size: 24px;" >RULES:</p>
        <p>Whe you will be create your article, you can to use any name as the author. But...</p>
        <p>If you want to use the functions upgrade or deleting of yours article, you must enter the author of the article same as your registration name
        <br><br><br><br><br>
        <p style="color: red; font-size: 20px;">Please, no floods!</p>
    </div>
    <br><br><br>
{% endblock %}
