{% extends 'base.html' %}

{% block title %}
All posts
{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
<div class="container">
    <p style="color: blue">{{ current_user.name }} online</p>
</div>
{% endif %}
    <div class="container">
        <p style="font-size: 26px;">All your posts here</p>

        {% if articles|length > 0 %}

            {% for el in articles %}
            <div class="alert alert-info">
                <h2>{{ el.title }}</h2>
                <p>{{ el.intro }}</p>
                <p style="font-size: 12px;">{{ el.author }}</p>
                <p><b>Date: {{ el.date.date() }}</b></p>
                <a href="/posts/{{ el.id }}" class="btn btn-warning">more details</a>
            </div>
            {% endfor %}
        {% else %}
            <p style="font-size: 16px;">We haven't any articles yet</p>
        {% endif %}
    </div>
{% endblock %}
